.app-label {
  font-family: 'Montserrat';
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.06em;
  font-size: 1.05em;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0;
}
