.list-view div:hover {
  background-color: #daeffd;
}

div.item {
  position: relative;
  border-bottom: .1rem solid rgba(230, 230, 230, 0.7);
  cursor: pointer;
  height: 11.1rem;

  & p {
    line-height: 1.9rem;
  }

  & .recipients {
    letter-spacing: 0.01em;
    padding-bottom: .2rem;
  }

  & .subject {
    font-family: 'Helvetica';
    font-size: 1.433rem;
    color: #3b4752;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3.8rem;
    display: -webkit-box;
    white-space: normal;
    line-height: 1.8rem;
  }

  & .datetime {
    font-size: 1.19em;
  }

  & .small {
    font-size: 1.19em;
  }
}

.searchbar {
}
